<header>
  <nav class="navbar nav-masthead navbar-expand-md navbar-black fixed-top bg-dark" ngbDropdown>
    <a [routerLink]="'/'" class="navbar-brand d-flex align-items-center">
      <img src="assets/logo_andromede.png" alt="andromede">
      <div class="text-black-50 titre-andromede ">Andromede</div>
    </a>
    <div class="collapse navbar-collapse" *ngIf="!mobile">
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </div>
    <ng-container *ngIf="mobile">
      <button class="navbar-toggler" type="button" ngbDropdownToggle data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons">menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse" ngbDropdownMenu *ngIf="mobile">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
      </div>
    </ng-container>

    <ng-template #contentTpl>
      <div class="mr-auto navbar-nav ">
        <a class="nav-link" routerLink="rechercher-objet" routerLinkActive="active">Rechercher un objet<span class="sr-only"></span></a>
        <a class="nav-link" routerLink="rechercher-recettes" routerLinkActive="active">Rechercher une recette<span class="sr-only"></span></a>
        <a class="nav-link" routerLink="objets" routerLinkActive="active">Tous les objets <i>(avec recette)</i></a>
        <a class="nav-link" routerLink="ajouter-recette" routerLinkActive="active" *ngIf="isAdmin">Ajouter une recette<span class="sr-only"></span></a>
      </div>
      <div class="text-white">
        <ng-container *ngIf="!user; else connected">
          <a [href]="'https://id.twitch.tv/oauth2/authorize?client_id=rtob0x5m8rl2ul5vh695p9y663ziui&redirect_uri=' + redirectUri + '&response_type=token&scope='" mat-flat-button>Se connecter via  <img src="assets/TwitchGlitchPurple.svg" height="25px" alt="logo twitch"></a>
        </ng-container>
        <ng-template #connected>
          <button mat-flat-button [matMenuTriggerFor]="menu">{{user.login}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deconnexion()">Deconnexion</button>
          </mat-menu>
        </ng-template>
      </div>
    </ng-template>
  </nav>
</header>
