<h2 mat-dialog-title>Ajouter un objet</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Ex. Coiffe de bouftou" required [(ngModel)]="objet.name" name="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Level</mat-label>
      <input matInput placeholder="2" min="0" type="number" required [(ngModel)]="objet.lvl" name="level">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="objet.type"  name="type">
        <mat-option *ngFor="let food of foods" [value]="food" >
          {{food}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div *ngIf="erreurFormulaire" class="mat-error">
    Erreur(s) dans le formulaire. Merci de remplir tous les champs
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <ng-container *ngIf="error">
    Erreur lors de l'ajout
  </ng-container>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button (click)="valider()" cdkFocusInitial [disabled]="loading">
    <ng-container *ngIf="loading; else templateValider">
      <mat-spinner diameter="30"></mat-spinner>
    </ng-container>
    <ng-template #templateValider>
      Valider
    </ng-template>
  </button>
</mat-dialog-actions>
