<div class="container-fluid height-100 main-container">
  <div class="row justify-content-md-center align-items-start height-100">
    <div class="col col-lg-6 height-100 bloc-principal bloc-gauche">
      <form class="form">
        <div class="picker">
          <mat-form-field class="full-width">
            <mat-label>Carte 1</mat-label>
            <input type="text" matInput [formControl]="carte1Control" [matAutocomplete]="carte1">
            <button mat-button *ngIf="carte1Control.value" matSuffix mat-icon-button aria-label="Clear" (click)="carte1Control.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="isAdding(carte1Control.value)" matSuffix matTooltip="Veuillez choisir une carte" class="icon-add">warning</mat-icon>
            <mat-autocomplete #carte1="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
              <mat-option *ngFor="let option of carte1FilteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <br>
        <div class="picker">
          <mat-form-field class="full-width">
            <mat-label>Carte 2</mat-label>
            <input type="text" matInput [formControl]="carte2Control" [matAutocomplete]="carte2">
            <button mat-button *ngIf="carte2Control.value" matSuffix mat-icon-button aria-label="Clear" (click)="carte2Control.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="isAdding(carte2Control.value)" matSuffix matTooltip="Veuillez choisir une carte" class="icon-add">warning</mat-icon>
            <mat-autocomplete #carte2="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
              <mat-option *ngFor="let option of carte2FilteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <br>
        <div class="picker">
          <mat-form-field class="full-width">
            <mat-label>Carte 3</mat-label>
            <input type="text" matInput [formControl]="carte3Control" [matAutocomplete]="carte3">
            <button mat-button *ngIf="carte3Control.value" matSuffix mat-icon-button aria-label="Clear" (click)="carte3Control.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="isAdding(carte3Control.value)" matSuffix matTooltip="Veuillez choisir une carte" class="icon-add">warning</mat-icon>
            <mat-autocomplete #carte3="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
              <mat-option *ngFor="let option of carte3FilteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <br>
        <div class="picker">
          <mat-form-field class="full-width">
            <mat-label>Carte 4</mat-label>
            <input type="text" matInput [formControl]="carte4Control" [matAutocomplete]="carte4">
            <button mat-button *ngIf="carte4Control.value" matSuffix mat-icon-button aria-label="Clear" (click)="carte4Control.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="isAdding(carte4Control.value)" matSuffix matTooltip="Veuillez choisir une carte" class="icon-add">warning</mat-icon>
            <mat-autocomplete #carte4="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
              <mat-option *ngFor="let option of carte4FilteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <br>
        <div class="picker">
          <mat-form-field class="full-width">
            <mat-label>Carte 5</mat-label>
            <input type="text" matInput [formControl]="carte5Control" [matAutocomplete]="carte5">
            <button mat-button *ngIf="carte5Control.value" matSuffix mat-icon-button aria-label="Clear" (click)="carte5Control.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="isAdding(carte5Control.value)" matSuffix matTooltip="Veuillez choisir une carte" class="icon-add">warning</mat-icon>
            <mat-autocomplete #carte5="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
              <mat-option *ngFor="let option of carte5FilteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <br>
        <button mat-flat-button aria-label="Clear" class="btn-reset" (click)="reset()">
          Reset
          <mat-icon>restart_alt</mat-icon>
        </button>
      </form>
    </div>
    <div class="col col-lg-2 height-100 middle-section">
      <div class="middle-wrapper">
        <button (click)="find()" mat-flat-button class="rechercher">RECHERCHER</button>
      </div>
    </div>
    <div class="col col-lg-4 height-100 bloc-principal block-droite">
      <div class="table-recipes">
       <app-liste-recettes [dataSource]="dataSource" [withFilter]="true"></app-liste-recettes>
      </div>
    </div>
  </div>
</div>
