.picker {
  font-size: 2em;
}

.main-container {
  width: 95%!important;
  margin-top: 20px
}

.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

@media only screen and (min-height: 800px) {
  .height-100 {
    height: 100%;
  }
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.bloc-principal {
  color: white;
  padding: 15px;
}

.table-recipes {
  height: 100%;
  overflow: auto;
}

.bloc-principal, .rechercher {
  background-color: #313131;
  color: white;
}

.middle-section {
  display: table;
}

.middle-wrapper {
  display: table-cell;
  vertical-align: middle
}

.rechercher {
  display: inline-block;
  width: 100%;
  height: 10%;
  font-size: 1.5em;
}

.icon-add {
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;;
}
