<app-input-rechercher-objet (callBack)="callbackInput($event)" [objetControl]="objetControl">

</app-input-rechercher-objet>

<div class="results" *ngIf="objetSelected">
  <img src="" alt="" class="image" appGetImage [type]="objetSelected.type" size="200"  *ngIf="!mobile">
  <div class="header-objet">
    <p class="nom-objet">{{objetSelected.name}}</p>
    <p class="type-objet">Type : {{objetSelected.type}}</p>
    <p class="lvl-objet"> Niveau {{objetSelected.lvl}}</p>
  </div>
  <div class="width-100">
    <p class="recettes-title">Recettes : </p>
  </div>
  <div class="recettes">
    <ng-container *ngIf="objetSelected.combinaisons?.length > 0; else noCombinaison">

      <p *ngFor="let combinaison of objetSelected.combinaisons; let i = index">
        Combinaison {{i}} : <img src="assets/logo_carte.png" alt="logo carte"> {{combinaison.cartes[0]}} +
        <img src="assets/logo_carte.png" alt="logo carte"> {{combinaison.cartes[1]}} +
        <img src="assets/logo_carte.png" alt="logo carte"> {{combinaison.cartes[2]}} +
        <img src="assets/logo_carte.png" alt="logo carte"> {{combinaison.cartes[3]}} +
        <img src="assets/logo_carte.png" alt="logo carte"> {{combinaison.cartes[4]}}
      </p>
    </ng-container>
    <ng-template #noCombinaison>
      Pas de recette connue pour cet objet (go jouer au chinq).
    </ng-template>
  </div>
</div>
