
.width-100 {
  width: 100%;
}

.results {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #313131;
  height: 90%;
  color: white;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .width-100 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .header-objet {
    margin-left: 200px;
  }
}

.image {
  float: left;
  height: 150px;
}

.header-objet {
  height: 20%;
}

.nom-objet{
  font-size: 3em;
}

.type-objet{
  font-size: 2em;
}

.lvl-objet {
  font-size: 2em;
}

.recettes-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  width: fit-content;
  height: 10%;
}

.recettes {
  background-color: #464646;
  height: 70%;
  width: 80%;
  margin-left: 14%;
  margin-top: 30px;
  overflow: auto;
  padding: 10px
}
