<div class="picker">
  <div class="search row">
    <mat-form-field class="col-lg-12">
      <mat-label class="input-search">Rechercher un objet</mat-label>
      <input type="text" matInput [formControl]="objetControl" [matAutocomplete]="carte1"
             (keyup)="handleKeyUp($event)">
      <mat-autocomplete #carte1="matAutocomplete" [displayWith]="displayFn" cdkScrollable (optionSelected)="rechercher()">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let option of objetFilteredOptions" [value]="option">
            {{option.name}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
