.picker {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.search {
  width: 100%;
  font-size: 2em;
}
.middle-section {
  display: table;
  height: 100%;
}

.middle-wrapper {
  display: table-cell;
  vertical-align: middle
}

.search-button {
  display: inline-block;
}

.input-search {
  color: black!important;
}
