.picker-BIG {
  font-size: 4em;
}

@media only screen and (min-height: 800px) {
  .picker {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 799px) {
  .picker {
    font-size: 1.1em;
  }
}

.picker {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.ajouter-recette{
  height:60px !important;
  width:200px !important;
  font-size:48px !important;
}

.ajouter-objet {
  margin-left: 20px;
  vertical-align: middle;
  height: 50px;
}

.icon-ajout-objet {
  font-size: 40px;
}

.main-container {
  width: 95%!important;
  margin-top: 20px
}

.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.height-100 {
  height: 100%;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.bloc-principal {
  background-color: #313131;
  color: white;
  padding-top: 20px;
}
@media only screen and (max-width: 991px) {

  .bloc-gauche {
    height: 110%;
  }
  .bloc-droite {
    margin-top: 70px;
  }
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

.log-title {
  text-align: center;
  font-size: 2em;
  padding-bottom: 5px;
}

.log-list {
  font-family: monospace;
  font-size: 0.8em;
  overflow: auto;
  height: 95%;
}

.log {
  border-bottom: .12rem solid white;
}
.btn--reset {
  margin-left: 10px;
  vertical-align: text-bottom;
}
