.picker-BIG {
  font-size: 4em;
}
.picker {
  font-size: 2em;
}

.main-container {
  width: 95%!important;
  margin-top: 20px
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.bloc-principal {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  padding: 20px;
  color: white;
}

.bloc-gauche {
}


.bloc-gauche {
}
