.picker-BIG {
  font-size: 4em;
}
.picker {
  font-size: 1.5em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.ajouter-recette{
  height:60px !important;
  width:200px !important;
  font-size:48px !important;
}

.ajouter-objet {
  margin-left: 20px;
  vertical-align: middle;
  height: 50px;
}

.icon-ajout-objet {
  font-size: 40px;
}

.main-container {
  width: 95%!important;
  margin-top: 20px
}

.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.height-100 {
  height: 100%;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.bloc-principal {
  background-color: #313131;
  color: white;
  padding-top: 20px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}
