<div class="container-fluid main-container height-100">
  <div class="row justify-content-md-center align-items-start height-100">
    <div class="col col-lg-8 height-100 bloc-principal bloc-gauche">
      <div class="row">
        <form class="form" (ngSubmit)="ajouterRecette()">
          <div class="picker">
            <mat-form-field class="width-80">
              <mat-label>Objet</mat-label>
              <input required type="text" matInput [formControl]="objetControl" [matAutocomplete]="objet">
              <mat-autocomplete #objet="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
                <mat-option *ngFor="let option of objetFilteredOptions | async" [value]="option">
                  {{option.name + ' Niveau ' + option.level + ' ; Type : ' + option.type}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button type="button" mat-button class=" ajouter-objet" (click)="ajouterObjet()">
              <span class="material-icons icon-ajout-objet">add_circle</span>
            </button>
          </div>
          <br>
          <div class="picker">
            <mat-form-field class="full-width">
              <mat-label>Carte 1</mat-label>
              <input required type="text" matInput [formControl]="carte1Control" [matAutocomplete]="carte1">
              <mat-autocomplete #carte1="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
                <mat-option *ngFor="let option of carte1FilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <br>
          <div class="picker">
            <mat-form-field class="full-width">
              <mat-label>Carte 2</mat-label>
              <input required type="text" matInput [formControl]="carte2Control" [matAutocomplete]="carte2">
              <mat-autocomplete #carte2="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
                <mat-option *ngFor="let option of carte2FilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <br>
          <div class="picker">
            <mat-form-field class="full-width">
              <mat-label>Carte 3</mat-label>
              <input required type="text" matInput [formControl]="carte3Control" [matAutocomplete]="carte3">
              <mat-autocomplete #carte3="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
                <mat-option *ngFor="let option of carte3FilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <br>
          <div class="picker">
            <mat-form-field class="full-width">
              <mat-label>Carte 4</mat-label>
              <input required type="text" matInput [formControl]="carte4Control" [matAutocomplete]="carte4">
              <mat-autocomplete #carte4="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
                <mat-option *ngFor="let option of carte4FilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <br>
          <div class="picker">
            <mat-form-field class="full-width">
              <mat-label>Carte 5</mat-label>
              <input required type="text" matInput [formControl]="carte5Control" [matAutocomplete]="carte5">
              <mat-autocomplete #carte5="matAutocomplete" [displayWith]="displayFn" cdkScrollable>
                <mat-option *ngFor="let option of carte5FilteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" mat-flat-button class="ajouter-recette">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col col-lg-1">
    </div>
    <div class="col col-lg-3 height-100 bloc-principal bloc-gauche">
      logs
    </div>
  </div>
</div>
