.title {
  font-size: 7em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 20%;
  margin-top: 76px;
}

.description {
  color: black;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.6;
}

.discord-default {
  background-color: grey;
  color: grey;
  height: 80%;
  cursor: pointer;
}
